@charset 'UTF-8';

body {
    background-color: rgb(91, 91, 226);
    font: normal 20pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.492);
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
}

input {
    width: 150px;
    height: 100px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}